/* 전체, 텍스트 */
.bestStories {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  padding: 20px;
}

.typeName {
  width: 100%;
  padding: 3px;
}

.typeName h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

/* 스와이퍼 게시글 */
.swiper-slide {
  display: flex !important;
  width: 100%;
  flex-shrink: 1 !important;
}

.bestImgs {
  margin-bottom: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}

@media screen and (max-width: 1200px) {
  .swiper-slide {
    width: 290px !important;
  }
}

@media screen and (max-width: 768px) {
  .bestStories {
    margin-bottom: 0px;
  }
  .bestImgs {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 540px) {
  .swiper-slide {
    width: 200px !important;
  }
}
