/* 공통 */
.mustContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin-top: 100px;
  padding: 20px;
}

.mustTypeName {
  width: 100%;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.moreText {
  font-weight: 600;
  font-size: small;
  color: gray;
  cursor: pointer;
}

.mustTypeName h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

.mustImgBox {
  width: 100%;
  max-width: 1280px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 100px;
  gap: 20px;
}

.noneMargin {
  margin-top: 0;
}

@media (max-width: 768px) {
  .mustTypeName h1 {
    font-size: 30px;
  }

  .mustContainer {
    margin-top: 50px;
  }

  .noneMargin {
    margin-top: 0;
  }

  .mustImgBox {
    flex-wrap: wrap;
  }
  .mustBox {
    width: calc(50% - 10px);
  }
}
