.header-placeholder {
  height: 170px;
}

.category-placeholder {
  height: 120px;
}

.header {
  user-select: none;
  -webkit-user-drag: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  padding-bottom: 50px;
}

.categoryHeader {
  padding: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header.hidden {
  transform: translateY(-100%);
}

.header.visible {
  transform: translateY(0);
}

/* 로고 */
.logoBtns {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.categoryBtns {
  justify-content: space-between;
  padding: 20px;
}

.categoryLogoImg {
  padding: 0;
}

.categoryHImg {
  max-width: 170px;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
  margin: 20px 0;
  cursor: pointer;
}

.logoImg {
  width: 100%;
  max-width: 27%;
}

/* 로고 옆 버튼 */
.btns {
  display: flex;
  position: absolute;
  align-items: center;
  right: 20px;
  gap: 20px;
}

.categorySelect {
  display: flex;
  align-items: center;
  gap: 20px;
}

.custom-select {
  max-width: 140px;
}

.custom-select .ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.custom-select .ant-select-selection-item {
  font-size: 18px !important;
  font-weight: bold;
}

.btn {
  max-width: 300px;
  padding: 7px 20px;
  background-color: #162144;
  color: white;
  cursor: pointer;
}

/* 카테고리 */
.categoryHeader .category {
  width: auto;
}

.category {
  display: flex;
  width: 100%;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.category h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  color: #162144;
  cursor: pointer;
}

.category-link {
  text-decoration: none;
  color: inherit;
}

/* 토글 */
.toggleMenu {
  user-select: none;
  -webkit-user-drag: none;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 0px;
  background-color: rgb(4, 4, 4);
  z-index: 1001;
  padding: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.toggleMenu.visible {
  visibility: visible;
  opacity: 1;
  max-height: 100vh;
}

/* 토글 안 로고 */
.LogoBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.toggleLogo {
  width: 100%;
  max-width: 350px;
}

.closeImg {
  cursor: pointer;
}

.closeIcon {
  max-width: 50px;
}

/* 토글 안 카테고리 타이틀 */
.categorys {
  display: flex;
  align-items: flex-start;
  color: white;
  justify-content: space-between;
}

.categoryTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryFont {
  font-size: 75px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.categoryFont:hover {
  opacity: 1 !important;
}

.categoryName {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  font-size: 27px;
  font-weight: bold;
}

.categoryName div {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.categoryName div:hover {
  opacity: 1;
}

/* 반응형 */
@media screen and (max-width: 1000px) {
  .header-placeholder {
    height: 200px;
  }

  .logo {
    justify-content: flex-start;
  }

  .btn {
    display: none;
  }

  .categoryHImg {
    width: 150px;
  }

  .categoryBtns .category {
    margin-left: 0;
  }

  .category {
    justify-content: flex-start;
    margin-left: 70px;
  }
}

@media screen and (max-width: 768px) {
  .header-placeholder {
    height: 150px;
  }

  .logo {
    padding: 15px 15px 15px 20px;
  }

  .logoImg {
    max-width: 40%;
  }

  .category {
    gap: 15px;
    margin-left: 40px;
  }
}

@media screen and (max-width: 430px) {
  .category h3:last-child {
    display: none;
  }
  .btns {
    right: 10px;
  }
  .mainPage {
    overflow: hidden;
  }
}

@media screen and (max-width: 380px) {
  .header-placeholder {
    height: 150px;
  }
  .category h3:last-child {
    display: none;
  }
}
