.pepleBackColor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  padding: 100px 0;
}

.peopleContainer {
  display: flex;
  gap: 20px;
  max-width: 1280px;
  padding: 20px;
}

.peopleTypeName {
  width: 100%;
  padding: 3px;
}

.peopleTypeName h1 {
  font-size: 50px;
  margin: 0 30px 30px 0;
}

.peopleImg {
  display: flex;
  gap: 20px;
}

.peopleTexts {
  margin-right: 20px;
}

.peopleTexts p {
  font-weight: 600;
}

/* 반응형 */
@media (max-width: 768px) {
  .pepleBackColor {
    margin-top: 50px;
  }

  .peopleTypeName h1 {
    font-size: 50px;
  }

  .peopleContainer {
    flex-direction: column;
  }

  .peopleImg .peopleImage:not(:first-child) {
    display: none;
  }

  .peopleTexts {
    margin-bottom: 10px;
  }
}
