.latest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 1280px;
  margin-bottom: 50px;
  padding: 20px;
}

.latestTypeName {
  width: 100%;
  padding: 3px;
}

.latestTypeName h1 {
  font-size: 50px;
  margin: 0 30px 30px 0;
}

.latestContainer {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.leftSub {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 20px;
}

.rightSticky {
  position: sticky;
  width: 100%;
  max-width: 300px;
  top: 20px;
}

.rightSticky img {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .latestTypeName h1 {
    font-size: 30px;
  }

  .peopleImg .peopleImage:not(:first-child) {
    display: none;
  }

  .peopleTexts {
    margin-bottom: 10px;
  }

  .leftSub {
    max-width: 100%;
  }

  .rightSticky {
    display: none;
  }

  .leftSub {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
  }
}
