html {
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-drag: none;
}

.mainPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.backColor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(243, 243, 243);
}

.topBtnImg {
  position: fixed;
  right: 25px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .topBtnImg {
    display: none;
  }
}
