/* 전체, 타이틀 */
.stories {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin: 100px 0;
  padding: 20px;
}

.beauty {
  margin-top: 0;
}

.storiesTypeName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3px;
}

.storiesTypeName h1 {
  font-size: 45px;
  margin-bottom: 20px;
}

/* 2*2 이미지 그리드 */
.PhotosContainer {
  display: flex;
  width: 100%;
  flex: 1;
  gap: 20px;
}

.fashionContainer {
  display: flex;
  width: 100%;
  flex: 1;
  gap: 20px;
}

.todayImage {
  flex: 1;
  max-width: 40%;
}

.subPhotosContainer {
  flex: 1;
  max-width: 60%;
}

.subPhotosContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.moreText {
  font-weight: 600;
  font-size: small;
  color: gray;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .stories {
    margin: 50px 0;
  }

  .beauty {
    margin-top: 0;
  }

  .storiesTypeName h1 {
    font-size: 28px;
  }

  .PhotosContainer {
    flex-direction: column;
  }

  .fashionContainer {
    flex-direction: column-reverse;
  }

  .todayImage {
    max-width: 100%;
  }

  .subPhotosContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
